In [2]:
!pip install pandas psycopg2-binary

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

In [11]:
import psycopg2
import csv
from psycopg2.extras import DictCursor

In [12]:
# Локальные настройки
DB_CONFIG = {
    'host': 'localhost',
    'database': 'test',
    'user': 'postgres',
    'password': '01072004',  # введите ваш пароль от PostgreSQL
    'port': 5432
}

def get_connection():
    return psycopg2.connect(**DB_CONFIG)

In [17]:
def task1():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    
    # Удаляем старую таблицу если существует
    cur.execute("DROP TABLE IF EXISTS logs_corrected;")
    
    # Создаем таблицу с исправленными данными
    cur.execute('''
    CREATE TABLE logs_corrected AS 
    SELECT 
        courseid, userid, num_week, s_all,
        REPLACE(s_all_avg, ',', '.') as s_all_avg,
        s_course_viewed,
        REPLACE(s_course_viewed_avg, ',', '.') as s_course_viewed_avg,
        s_q_attempt_viewed,
        REPLACE(s_q_attempt_viewed_avg, ',', '.') as s_q_attempt_viewed_avg,
        s_a_course_module_viewed,
        REPLACE(s_a_course_module_viewed_avg, ',', '.') as s_a_course_module_viewed_avg,
        s_a_submission_status_viewed,
        REPLACE(s_a_submission_status_viewed_avg, ',', '.') as s_a_submission_status_viewed_avg,
        NameR_Level, Name_vAtt, Depart, Name_OsnO, Name_FormOPril, LevelEd, Num_Sem, Kurs, Date_vAtt
    FROM logs;
    ''')
    conn.commit()
    
    # Выводим первые 10 записей
    cur.execute("SELECT * FROM logs_corrected LIMIT 10;")
    records = cur.fetchall()
    
    print("Первые 10 записей после замены запятых на точки:")
    for record in records:
        print(record)
    
    cur.close()
    conn.close()

task1()

Первые 10 записей после замены запятых на точки:
('71262', '34527', 6, 9, '9', 4, '4', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 7, 0, '4.5', 0, '2', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 8, 0, '3', 0, '1.3333', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 9, 0, '2.25', 0, '1', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 10, 0, '1.8', 0, '0.8', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 11, 1, '1.6667', 1, '0.8333', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 12, 0, '1.4286', 0, '0.7143', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 13, 0, '1.25', 0, '0.625', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 14, 0, '1.1111', 0, '0.5556', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')
('71262', '34527', 15, 1, '1.1', 1, '0.6', 0, '0', 0, '0', 0, '0', '3', 'Р\xadРєР·Р°РјРµРЅ', '22', 1, 1, 1, 2, 2, '18.06.2022')

In [18]:
# Задание 2
def task2():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute("SELECT COUNT(DISTINCT depart) FROM logs_corrected;")
    print(f"Задание 2: Количество кафедр - {cur.fetchone()[0]}")
    cur.close()
    conn.close()

task2()

Задание 2: Количество кафедр - 43

In [20]:
# Задание 3
def task3():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute('''
        SELECT depart, COUNT(DISTINCT courseid) as course_count 
        FROM logs_corrected 
        GROUP BY depart 
        ORDER BY course_count DESC 
        LIMIT 1;
    ''')
    result = cur.fetchone()
    print(f"Задание 3: Кафедра {result[0]} - {result[1]} курсов (максимум)")
    cur.close()
    conn.close()

task3()

Задание 3: Кафедра 11 - 53 курсов (максимум)

In [22]:
def task4():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute("DROP TABLE IF EXISTS departments;")
    cur.execute('''
        CREATE TABLE departments (
            id VARCHAR(5) PRIMARY KEY,
            name VARCHAR(50)
        );
    ''')
    
    departments = [
        ('1', 'АиИИ'), ('2', 'АСУ'), ('3', 'АЭПиМ'), ('4', 'БИиИТ'), ('5', 'ВИ'),
        ('6', 'ВТиП'), ('7', 'ГМДиОПИ'), ('8', 'ГМиТТК'), ('9', 'ГМУиУП'), ('10', 'Дизайна'),
        ('11', 'ДиСО'), ('12', 'ИиИБ'), ('13', 'ИТМ'), ('14', 'ЛиП'), ('15', 'ЛиУТС'),
        ('16', 'ЛПиМ'), ('17', 'Менеджм.'), ('18', 'МиТОДиМ'), ('19', 'МиХТ'), ('20', 'ПиСЗ'),
        ('21', 'ПиЭММО'), ('22', 'ПМиИ'), ('23', 'ПОиД'), ('24', 'Психол.'), ('25', 'ПЭиБЖД'),
        ('26', 'РМПИ'), ('27', 'РЯОЯиМК'), ('28', 'СРиППО'), ('29', 'CC'), ('30', 'ТиЭС'),
        ('31', 'ТОМ'), ('32', 'ТССА'), ('33', 'УиИС'), ('34', 'УСиБА'), ('35', 'Физики'),
        ('36', 'Физкульт.'), ('37', 'Химии'), ('38', 'ХОМ'), ('39', 'ЦДОМ'), ('40', 'ЭиМЭ'),
        ('41', 'Эконом.'), ('42', 'ЭПП'), ('43', 'ЯиЛ')
    ]
    
    cur.executemany("INSERT INTO departments VALUES (%s, %s);", departments)
    conn.commit()
    print("Задание 4: Таблица departments создана и заполнена")
    cur.close()
    conn.close()

task4()

Задание 4: Таблица departments создана и заполнена

In [23]:
def task5():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute('''
        SELECT d.name, COUNT(DISTINCT l.courseid) as course_count 
        FROM logs_corrected l
        JOIN departments d ON l.depart = d.id
        GROUP BY d.name 
        ORDER BY course_count DESC 
        LIMIT 1;
    ''')
    result = cur.fetchone()
    print(f"Задание 5: Кафедра {result[0]} - {result[1]} курсов")
    cur.close()
    conn.close()

task5()

Задание 5: Кафедра ДиСО - 53 курсов

In [24]:
# Задание 6
def task6():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    
    cur.execute('''
        SELECT COUNT(*) FROM (
            SELECT courseid FROM logs_corrected 
            GROUP BY courseid 
            HAVING COUNT(DISTINCT depart) > 1
        ) as multi_courses;
    ''')
    count = cur.fetchone()[0]
    print(f"Задание 6: Курсов с несколькими кафедрами - {count}")
    
    cur.execute('''
        SELECT l.courseid, STRING_AGG(DISTINCT d.name, ', ') 
        FROM logs_corrected l
        JOIN departments d ON l.depart = d.id
        GROUP BY l.courseid 
        HAVING COUNT(DISTINCT d.name) > 1 
        LIMIT 3;
    ''')
    print("Примеры курсов с несколькими кафедрами:")
    for course in cur.fetchall():
        print(f"  Курс {course[0]}: {course[1]}")
    
    cur.close()
    conn.close()

task6()

Задание 6: Курсов с несколькими кафедрами - 60
Примеры курсов с несколькими кафедрами:
  Курс 71495: ГМиТТК, ПиСЗ, УиИС
  Курс 71508: ПиСЗ, УиИС
  Курс 71541: ПиСЗ, УиИС

In [25]:
# Задание 7
def task7():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute('''
        SELECT namer_level, COUNT(DISTINCT userid) 
        FROM logs_corrected 
        WHERE namer_level IS NOT NULL 
        GROUP BY namer_level 
        ORDER BY namer_level;
    ''')
    print("Задание 7: Распределение оценок")
    for grade, count in cur.fetchall():
        print(f"  Оценка {grade}: {count} студентов")
    cur.close()
    conn.close()

task7()

Задание 7: Распределение оценок
  Оценка 2: 1069 студентов
  Оценка 3: 1884 студентов
  Оценка 4: 3243 студентов
  Оценка 5: 3407 студентов

In [26]:
# Задание 8
def task8():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute('''
        SELECT userid, SUM(s_all) 
        FROM logs_corrected 
        GROUP BY userid 
        ORDER BY SUM(s_all) DESC 
        LIMIT 1;
    ''')
    result = cur.fetchone()
    print(f"Задание 8: Самый активный студент {result[0]} - {result[1]} действий")
    cur.close()
    conn.close()

task8()

Задание 8: Самый активный студент 28871 - 10300 действий

In [27]:
# Задание 9
def task9():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    cur.execute('''
        SELECT num_week, ROUND(AVG(s_all), 2) 
        FROM logs_corrected 
        GROUP BY num_week 
        ORDER BY num_week;
    ''')
    print("Задание 9: Среднее количество событий по неделям")
    for week, avg_events in cur.fetchall():
        print(f"  Неделя {week}: {avg_events}")
    cur.close()
    conn.close()

task9()

Задание 9: Среднее количество событий по неделям
  Неделя 6: 13.80
  Неделя 7: 9.62
  Неделя 8: 8.03
  Неделя 9: 9.39
  Неделя 10: 8.21
  Неделя 11: 10.02
  Неделя 12: 9.38
  Неделя 13: 10.01
  Неделя 14: 9.86
  Неделя 15: 10.35
  Неделя 16: 10.29
  Неделя 17: 10.52
  Неделя 18: 9.67
  Неделя 19: 11.11
  Неделя 20: 14.45
  Неделя 21: 18.50
  Неделя 22: 22.49
  Неделя 23: 22.26
  Неделя 24: 23.01
  Неделя 25: 18.22
  Неделя 26: 8.60
  Неделя 27: 1.25
  Неделя 28: 0.09
  Неделя 29: 0.05

In [28]:
# Задание 10
def task10():
    conn = psycopg2.connect(**DB_CONFIG)
    cur = conn.cursor()
    
    cur.execute('''
        SELECT d.name, COUNT(DISTINCT l.userid) 
        FROM logs_corrected l
        JOIN departments d ON l.depart = d.id
        WHERE l.namer_level = '5'
        GROUP BY d.name 
        ORDER BY COUNT(DISTINCT l.userid) DESC 
        LIMIT 1;
    ''')
    result = cur.fetchone()
    print(f"Задание 10: Кафедра с отличниками - {result[0]} ({result[1]} студентов)")
    
    cur.execute('''
        SELECT d.name, COUNT(DISTINCT l.userid) 
        FROM logs_corrected l
        JOIN departments d ON l.depart = d.id
        WHERE l.namer_level = '2'
        GROUP BY d.name 
        ORDER BY COUNT(DISTINCT l.userid) DESC 
        LIMIT 1;
    ''')
    result = cur.fetchone()
    print(f"Задание 10: Кафедра с двоечниками - {result[0]} ({result[1]} студентов)")
    
    cur.close()
    conn.close()

task10()

Задание 10: Кафедра с отличниками - ДиСО (310 студентов)
Задание 10: Кафедра с двоечниками - Эконом. (72 студентов)